In [33]:
SELECT NEV, EMAIL
FROM Vendeg  
WHERE SZUL_DAT BETWEEN '1990-07-01' AND '1990-12-31'
ORDER BY MONTH(SZUL_DAT) ASC;

NEV,EMAIL
Bodor Szabolcs,szabolcs.bodor@mail.hu
Bosnyák Ilona,ilona3@gmail.com
Szabó Julianna,julianna4@gmail.com
Berta Dávid,david4@gmail.com

In [31]:
SELECT szh.TIPUS AS 'Típus', ROUND(COUNT(METTOL), -2) AS 'Százasra kerekítve. foglalások száma'
 
FROM Foglalas f JOIN Szoba sz ON f.SZOBA_FK = sz.SZOBA_ID
                JOIN Szallashely szh ON sz.SZALLAS_FK = szh.SZALLAS_ID
GROUP BY szh.TIPUS
HAVING ROUND(COUNT(METTOL), -2) < 500

Típus,Százasra kerekítve. foglalások száma
Apartman,100
vendégház,100
panzió,200

In [34]:
SELECT F.SZOBA_FK, YEAR(F.mettol) AS evszam, COUNT(*) AS foglalasok_szama
FROM Foglalas AS F JOIN Szoba AS S ON F.SZOBA_FK = S.szoba_id
WHERE F.SZOBA_FK % 2 = 1
GROUP BY F.SZOBA_FK, YEAR(F.METTOL)
HAVING COUNT(*) > 10